body {
    background-color: #fffdf9;
    font-family: 'Poppins', sans-serif;
}

.contact-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-wa {
    background-color: #25D366;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 18px;
    transition: all 0.2s ease;
}

.btn-wa:hover {
    background-color: #1ebd5a;
    transform: scale(1.05);
}

.contact-info {
    margin-top: 20px;
    color: #555;
}





.navbar-brand {
    padding: 0;
    margin-right: 20px;
}

.navbar-brand img {
    height: 55px !important; 
    width: auto !important; 
    max-height: 55px !important; 
}

.menu-item {
    font-weight: 500;
    color: #333 !important; 
    padding: 8px 15px !important;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.active-menu {
    background-color: #ff9933 !important;
    color: white !important;
}

.menu-item:not(.active-menu):hover {
    background-color: #f5f5f5;
    color: #000 !important;
}

.btn-keranjang {
    background-color: #1a7f45;
    border-color: #1a7f45;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-keranjang:hover {
    background-color: #166938;
    border-color: #166938;
    color: white;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        text-align: center;
    }

    .menu-item {
        margin: 5px auto;
        display: block;
    }

    .btn-keranjang {
        margin: 10px auto;
        width: fit-content;
    }

   
}